body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #131417;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    padding: 20px;
    background-color: #050505;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > a > img {
    width: 70px;
    height: 70px;
}

header > a:focus {
    border-radius: 100%;
}

header > nav > ul {
    display: flex;
    list-style: none;
    background-color: #232323;
    border-radius: 2px;
    gap: 0.1em;
    padding: 2px;
    margin-left: 110px;
}

header > nav > ul > li {
    padding: 7.5px;
    background-color: #131417;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: #DFE0E2;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    padding: 7px 60px;
}

header > nav > ul li:hover {
    background-color: #40454D;
}

header > nav > ul > li > a:focus {
    background-color: #40454D;
}

.active {
    background-color: #40454D;
}

header > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

header > div > div {
    display: flex;
    justify-content: space-around;
    margin-left: 2px;
}

.icons {
    width: 20px;
    padding: 5px;
    border-radius: 8px;
}

.icons-active {
    background-color: #40454D;
    border-radius: 8px;
    height: 30px;
}

.icons:hover {
    background-color: #40454D;
}

header > div > div > a:focus {
    background-color: #40454D;
    border-radius: 8px;
    height: 30px;
}

#menu-toggle {
    display: none;
}

#menu-icon {
    display: none;
}

#header-right {
    margin-top: -50px;
}

#header-right > div {
    gap: 0.5em;
}

h1, h2, p, .card, #list {
    font-family: "Montserrat", sans-serif;
    color:#DFE0E2;
}

h2 {
   font-weight: lighter; 
}

h1 {
    margin-top: 60px;
    font-size: 62px;
    font-weight:lighter;
    margin-bottom: 0;
}

p {
    margin-top: 5px;
    font-weight: lighter;
    line-height: 2;
}

footer {
    height: 80px;
    background-color: #050505;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    padding: 0 20px 0 20px;
}

footer > div {
    display: flex;
    gap: 0.7em;
    height: 35px;
    
}

footer > div > a {
    padding: 2px 2px 2px 2px;
    border-radius: 100px;
    background-color: #232323;
}

footer > div > a:hover {
    background-color: #40454D;
}

footer > div > a:focus {
    background-color: #40454D;
}

footer > div > a > img {
    width: 30px;
}

footer > ul {
    display: flex;
    gap: 0.1em;
    padding: 2px;
    background-color: #232323;
    list-style: none;
    position: relative;
    margin-right: 100px;
}

footer > ul > li {
    background-color: #131417;
    padding: 7.5px;
}

footer > ul > li > a {
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    color: #DFE0E2;
}

footer > ul > li:hover {
    background-color: #40454D;
}

footer > ul > li > a:focus {
    background-color: #40454D;
}












/* SLIDESHOW */
#slideshow {
    overflow: hidden;
    height: fit-content;
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.slide-container {
    width: calc(350px * 7);
    display: flex;
    gap: 200px;
    align-items: center;
    animation: slide 30s linear infinite;
}

.slide {
    background-color: #050505;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.slide:hover {
    border: 2px solid #232323;
}

.slide:nth-child(1) {
    margin-left: 1600px;
}

#slideshow > .slide-wrapper > .slide > .image-container > img {
    border-radius: 6px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-190%);
    }
}






/* PRODUCTS */
#products-container {
    padding: 0 0 30px 0;
    overflow-y: scroll;
    display: grid;
    margin: 0 auto;
    gap: 20vh;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    background-color: #050505;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
}

.card summary {
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    background-color: #131417;
    border-radius: 4px;
    color: #DFE0E2;
    border: 0.1px solid #232323;
}

.card summary:hover {
    background-color: #40454D;
}

.card details[open] summary {
  background-color: #30363D;
  border: 1px solid #DFE0E2;
}

.card .details-content {
    border-top: 1px solid #232323;
    transition: max-height 0.3s ease; /* Smooth transition for height */
    font-size: 12px;
}

.card details[open] .details-content {
    max-height: fit-content; /* Set a large fixed value to accommodate the content */
}

.card button {
    border: 2px solid #232323;
    padding: 12px;
    color: #DFE0E2;
    background-color: #050505;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 4px; 
}

.card button:hover {
    background-color: #40454D;
}

#list {
    list-style: none;
    padding: 0;
}

#list1 {
    list-style: none;
    padding: 0;
    font-weight: lighter;
    margin-top: -10px;
}

.price {
    font-size: 22px;
}


#form-container {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    color:#DFE0E2;
    font-size: 12px;
}


#form-container > form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 10px;
    width: 200px;
    align-items: center;
    background-color: #050505;
    border-radius: 4px;
}

#form-container > form > button {
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background-color: #131417;
    border: 0.1px solid #232323;
    cursor: pointer;
    color: #DFE0E2;
}

#form-container > form > button:hover {
    background-color: #fbd405;
    border: 0.1px solid #DFE0E2;
    color: #050505;
}

  
  
  
/* Base styles written for standard 13.6" laptop */

/* Extra Large devices (large desktops/monitors, 1665px and up) */
@media (min-width: 1665px) {
    h1 {
        margin-top: 160px;
        font-size: 84px;
    }

    p {
        font-size: 22px;
    }

    #products-container {
        gap: 40vh;
        padding: 0 0 200px 0;
    }

    .slide:nth-child(1) {
        margin-left: 2400px;
    }
    
    
    @keyframes slide {
        0% {
            transform: translateX(0);
        }
    
        100% {
            transform: translateX(-220%);
        }
    }
}

/* Medium devices (Small laptops/large tablets, 992px to 1367px) */
@media (min-width: 992px) and (max-width: 1367px) {

    p {
        line-height: 1.5;
    }

    h1 {
        margin-top: 40px;
        font-size: 52px;
    }
    header > nav > ul {
        margin-right: 30px;
    }

    header > nav > ul > li > a {
        font-size: 14px;
        padding: 7px 40px 7px 40px;
    }

    #products-container {
        padding: 0 0 5px 0;
    }

} 

/* Small devices (large phones/small tablets, 501px to 991px) */
@media (min-width: 501px) and (max-width: 991px) {

    
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    

    header > a > img {
        width: 50px;
        height: 50px;
        padding-top: 5px;
    }

    nav {
        display: none;
        width: 99%;
        position: absolute;
        margin-top: 53px;
        margin-left: -120px;
        z-index: 2;
    }

    nav > ul {
        flex-direction: column;
        width: 100%;
    }

    header > nav > ul > li > a {
        font-size: 14px;
        padding: 5px;
    }

    .icons {
        padding: 10px 10px 2.5px 10px;
    }

    #search-bar {
        display: none;
        position: absolute;
    }

    #header-right {
        position: absolute;
        margin-top: 253px;
        margin-left: -10px;
        display: none;
        width: 99%;
        height: 50px;
        border: 2px solid #232323;
        border-top: none;
        background-color: #131417;
        z-index: 1;
        align-content: center;
    }

    #wishlist {
        margin-left: 10px;
    }


    nav > ul > li > a {
        display: block;
        padding: 10px;
        width: 100%;
    }

    #menu-toggle:checked ~ nav,
    #menu-toggle:checked ~ #header-right {
        display: block;
    }

    .icons {
        padding: 7px;
    }

    #menu-icon {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 21px;
        right: 10px;
    }

    .mobile-icon {
        width: 30px;
        height: 30px;
        padding: 7px 7px 0 7px;
        border-radius: 4px;
    }

    .mobile-icon:hover {
        background-color: #40454D;
    }

    h1 {
        margin-top: 50px;
        font-size: 28px;
    }

    p {
        font-size: 12px;
    }

    #slideshow {
        margin-top: 100px;
    }

    #products-container {
        gap: 30vh;
        padding: 0 0 80px 0;
        margin: auto;
    }

    footer > ul {
        position: absolute;
        margin-bottom: 1310px;
        left: 110px;
        display: sticky;
    }

    footer {
        justify-content: center;
        gap: 5px;
    }

    footer > div {
        margin-left: 5px;
    }

    #github-icon {
        margin-left: 5px;
    }
}


